<div class="card panel-primary">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="./assets/welcometareas.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="text-center">
            <p>Ejemplo hecho por:</p>
        </div>
        <div class="text-center">
            <h3>Santiago Mendez</h3>
        </div>
        <div class="text-center">
            <a href="http://www.ort.edu.uy">www.ort.edu.uy</a>
        </div>
    </div>
</div>